<?xml version="1.0"?>
<launch>
  <!-- Group for racecar0 -->
  <group ns="racecar0">
    <arg name="racecar_xacro" default="$(find racecar_simulator)/racecar0.xacro"/>
    <param name="robot_description" command="xacro '$(arg racecar_xacro)' prefix:=0"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  </group>

</launch>

